<nav class="navbar navbar-expand-sm navbar-themed">
	<div class="container">
		<!-- logo button -->
		<a class="navbar-brand" href="/">
			<img src="{{url_for('static', filename='images/logo1.svg')}}" alt="HighlightEd Logo" width="150" height="48" class="d-inline-block align-text-top">
		</a>
		<a class="navbar-brand" href="/">
			<img src="{{url_for('static', filename='images/logo2.svg')}}" alt="HighlightEd Logo" width="150" height="48" class="d-inline-block align-text-top">
		</a>
		<a class="navbar-brand" href="/">
			<img src="{{url_for('static', filename='images/logo3.svg')}}" alt="HighlightEd Logo" width="170" height="48" class="d-inline-block align-text-top">
		</a>
		<a class="navbar-brand" href="/">
			<img src="{{url_for('static', filename='images/logo4.svg')}}" alt="HighlightEd Logo" width="150" height="48" class="d-inline-block align-text-top">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<!-- buttons leading to each main page -->
			<ul class="navbar-nav ml-auto btn-group">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/auth/login">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/classes">My Classes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/classes/create">Create</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
