{% extends "layout.html" %}
{% block content %}

<div class="page-container">

    <div class="content-wrapper">

        <h1 class="page-title">Welcome to HighlightEd</h1>

        <!-- divider -->
        <hr class="blurb-divider">

        <p class="blurb-text">
            HighlightEd is a lecture platform for students and teachers to comment and interact over a provided transcript. The isolation that comes with online learning is no more!
        </p>

        {% if is_logged %}
            <a class="btn btn-custom-primary" href="/classes/create">Create a Class</a>
            <a class="btn btn-custom-primary" href="/classes/join">Join a Class</a>
        {% else %}
            <div class="button-group">
                <a class="btn btn-custom-primary" href="/auth/signup">Signup</a>
            </div> 
            
            <hr class="blurb-divider">

            <div class="form-label-style">Already Signed Up?</div>
            <div class="button-group">
                <a class="btn btn-custom-primary" href="/auth/login">Login</a>
            </div>
        {% endif %}

    </div>

</div>

{% endblock %}
