{% extends "layout.html" %}
{% block content %}

<div class="page-container">

    <div class="top-left-container">
        <a class="btn btn-custom-secondary" href="/classes">Back to Your Classes</a>
    </div>

    <div class="content-wrapper">

        <div class="page-header-container">
            <h1 class="page-title">{{ class_name }}</h1>
            
            <!-- Only show the joincode display if admin -->
            {% if role == "admin" %}
            <div class="joincode-display">
                <span class="joincode-label">Join Code:</span>
                <span class="joincode-value" id="class-joincode">{{ joincode }}</span>
            </div>
            {% endif %}
        </div>

        {% if lessons == [] %}
        <h2 align="center" class="pb-4">This class doesn't have any lessons yet!</h2>
        {% else %}
        <!-- table displaying all lessons within class -->
        <table id="lessons" class="display" width="100%">
            <thead>
                <tr>
                    <th><div class="table-title">Lesson</div></th>
                    <th><div class="table-title">Upload Time</div></th>
                </tr>
            </thead>
            <tbody>
                <!-- loop through the lessons -->
                {% for lesson_data in lessons %}
                    <tr class="clickable-row" onclick="window.location.href='/classes/{{cid}}/{{lesson_data.id}}'">
                        <td>{{lesson_data.name}}</td>
                        <td>{{lesson_data.creationtime}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <!-- create lesson option for admin -->
        {% if role == "admin" %}
            <div class="button-group">
                <a class="btn btn-custom-primary" href="/classes/{{cid}}/createlesson">Create Lesson</a>
            </div>
        {% endif %}

    </div> <!-- End of content-wrapper -->

</div> <!-- End of page-container -->

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>
{% endblock %}