{% extends "layout.html" %}
{% block content %}

<!-- NEW: The page-container that will force everything inside it to center -->
<div class="page-container">

    <!-- This container now becomes a flex item, centered by its parent -->
    <div class="top-left-container">
        <a class="btn btn-custom-secondary" href="/classes">Back to Classes</a>
    </div>

    <!-- This container is also centered by the new page-container -->
    <div class="content-wrapper">

        <h1 class="page-title">Class Lessons</h1>

        <table id="lessons" class="display" width="100%">
            <thead>
                <tr>
                    <th><div class="table-title">Lesson</div></th>
                    <th><div class="table-title">Upload Time</div></th>
                </tr>
            </thead>
            <tbody>
                {% for lesson_data in lessons %}
                    <tr class="clickable-row" onclick="window.location.href='/classes/{{cid}}/{{lesson_data.id}}'">
                        <td>{{lesson_data.name}}</td>
                        <td>{{lesson_data.creationtime}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="button-group">
            <a class="btn btn-custom-primary" href="/classes/{{cid}}/createlesson">Create Lesson</a>
        </div>

    </div> <!-- End of content-wrapper -->

</div> <!-- End of page-container -->

{% endblock %}

{% block scripts %}
<!-- This block remains the same -->
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>
{% endblock %}