{% extends "layout.html" %}
{% block content %}

<div class="content-wrapper">
    <h1 class="page-title">Your Classes</h1>

    <table id="classes" class="display" width="100%">
        <!-- column titles -->
        <thead>
            <tr>
                <th><div class="table-title">Class</div></th>
                <th><div class="table-title">Role</div></th>
            </tr>
        </thead>
        <!-- column content -->
        <tbody>
            <!-- looping over each class that the user is in  -->
            {% for class_data in classes_data %}
                <tr class="clickable-row" onclick="window.location.href='/classes/{{class_data.id}}'">
                    <td>
                        {{class_data['name']}}
                    </td>
                    <td>role</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button Group -->
    <div class="button-group">
        <a class="btn btn-primary" href="/classes/create">Create Class</a>
        <a class="btn btn-secondary" href="/classes/join">Join Class</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/datatables.js') }}"></script>
{% endblock %}