{% extends "layout.html" %}

{% block content %}

<div class="row">
    <video width="240" height="240" controls>
        <source src="{{url_for('static', filename='files/' + results.videofn)}}" type="{{results.mimetype}}">
    </video>
</div>

<div class="row">
    <div class="col-md-10">
        <div id="text-container">
            <p>
                {% for segment in results["transcripts"] %}
                    <span class="transcript-segment">{{segment.text}}</span>
                {% endfor %}
            </p>
        </div>

        <!-- This is the pop-up menu. It's hidden by default with CSS. -->
        <div id="highlight-menu">
            <button id="highlight-btn">Highlight</button>
            <button id="comment-btn">Comment</button>
        </div>
    </div>
    <div class="col-md-2">
        <div id="comment-sidebar" class="w-100">
            {# {% for comment, form, children_reply_forms in reply_forms %}
                {% if comment.comtype == "comment" %}
                    <div class="comment" data-comment-id="{{comment.id}}">
                        <div class="comment-creator">{{comment.creator}}</div>
                        <div class="comment-content">{{comment.content}}</div>
                        <div class="comment-reply">
                            <form method="POST">
                                {{form.hidden_tag()}}

                                {{form.parentid(value=comment['id'])}}
                                {{form.start_offset(value=comment.ts_start_offset)}}
                                {{form.end_offset(value=comment.ts_end_offset)}}

                                {{form.msg.label()}}
                                {{form.msg()}}

                                {{form.submit()}}
                            </form>
                        </div>
                        <div class="comment-replies">
                        </div>
                    </div>
                {% endif %} 
            {% endfor %} #}
            {% for comment_form, replies in comment_forms %}
                {% set comment, form = comment_form[0], comment_form[1] %}
                <div class="comment" data-comment-id="{{comment.id}}">
                    <div class="comment-creator">{{comment.creator}}</div>
                    <div class="comment-content">{{comment.content}}</div>
                    <div class="comment-reply">
                        <form method="POST">
                            {{form.hidden_tag()}}

                            {{form.parentid(value=comment['id'])}}
                            {{form.start_offset(value=comment.ts_start_offset)}}
                            {{form.end_offset(value=comment.ts_end_offset)}}

                            {{form.msg.label()}}
                            {{form.msg()}}

                            {{form.submit()}}
                        </form>
                    </div>
                    <div class="comment-replies">
                        {% for reply, reply_form in replies %}
                            <div class="comment-creator">{{reply.creator}}</div>
                            <div class="comment-content">{{reply.content}}</div>
                            <div class="comment-reply">
                                <form method="POST">
                                    {{reply_form.hidden_tag()}}
    
                                    {{reply_form.parentid(value=reply['id'])}}
                                    {{reply_form.start_offset(value=reply.ts_start_offset)}}
                                    {{reply_form.end_offset(value=reply.ts_end_offset)}}
    
                                    {{reply_form.msg.label()}}
                                    {{reply_form.msg()}}
    
                                    {{reply_form.submit()}}
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>



{% if results.comment_form_data %}
<div class="row">
    <div class="comment-form">
        <form action="/classes/{{results.cid}}/{{results.lid}}" method="POST">
            <input type="hidden" name="start_offset" value="{{ results.comment_form_data.start_offset }}">
            <input type="hidden" name="end_offset" value="{{ results.comment_form_data.end_offset }}">
            <input type="hidden" name="selected_text" value="{{ results.comment_form_data.selected_text }}">
            <input type="hidden" name="comtype" value="comment">
            
            <label>Add your comment for: "{{ results.comment_form_data.selected_text }}"</label>
            <textarea name="comment_text" required></textarea>
            
            <button type="submit">Save Comment</button>
        </form>
    </div>
</div>
{% endif %}


{% endblock %}

{% block scripts %}
<script>
    // Pass the highlights data from Flask/Jinja2 into a JavaScript variable
    // The `|tojson` filter is crucial for safely embedding the data.
    const savedHighlights = {{ results.highlights|tojson }};
    const currentURL = window.location.pathname; // This will be "/classes/<cid>/<lid>"
</script>

<script src="{{ url_for('static', filename='js/highlighter.js') }}"></script>

{% endblock %}