<nav class="navbar navbar-expand-sm navbar-themed">
	<div class="container">
		<!-- logo button -->
		<a class="navbar-brand" href="/">
			<img src="{{url_for('static', filename='images/logo2.svg')}}" alt="HighlightEd Logo" width="150" height="48" class="d-inline-block align-text-top">
		</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<!-- buttons leading to each main page -->
			<ul class="navbar-nav ml-auto btn-group">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/">My Classes</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
